<div id="map-canvas"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="row form-group">
                <div class="col-xs-5">
                    <input class="form-control" id="firstName" name="firstName" placeholder="Nome" required="" type="text">
                </div>
                <div class="col-xs-5">
                    <input class="form-control" id="lastName" name="lastName" placeholder="Sobrenome" required="" type="text">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-5">
                    <input class="form-control" name="email" placeholder="Email" required="" type="email">
                </div>
                <div class="col-xs-5">
                    <input class="form-control" name="phone" placeholder="Telefone" required="" type="email">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-10">
                    <input class="form-control" placeholder="Contato" required="" type="text">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-10">
                    <button class="btn btn-default pull-right">Envie seu contato</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3 pull-right"> <address>
              <strong>Pensamente</strong><br>
              <span id="map-input">
              Avenida Duque de Caxias, 123<br>
              Bauru, São Paulo<br>
              </span>
              Telefone: (123) 456-7890
            </address>
     <address>
              <strong>Email</strong><br>
              <a href="mailto:#">sac@pensamente.com</a>
            </address> 
        </div>
    </div>
    <!--/row-->
</div>