<%= render 'layouts/carousel' %>

<!-- Begin Body -->
<div class="container">
	<div class="row">

		<div class="col-sm-9">
			<h2>Produtos mais visitados</h2>
			<hr>
			<ul class="thumbnail-list">
				<li> <a href="#" class=""><img src="http://placehold.it/400x400" class=""></a>

					<h4 class="">Product Name Product Name Product Name</h4>
					<div class="product-price"> <span class="cut-price">MYR290.00</span>
						<span class="normal-price">MYR230.00</span>

					</div>
					<button type="button" class="btn btn-default navbar-btn">Visitar página</button>
				</li>
				<li> <a href="#" class=""><img src="http://placehold.it/400x400" class=""></a>

					<h4 class="">Product Name</h4>
					<div class="product-price"> <span class="cut-price">MYR290.00</span>
						<span class="normal-price">MYR230.00</span>

					</div>
					<button type="button" class="btn btn-default navbar-btn">Visitar página</button>
				</li>
				<li> <a href="#" class=""><img src="http://placehold.it/400x400" class=""></a>

					<h4 class="">Product Name</h4>
					<div class="product-price"> <span class="cut-price">MYR290.00</span>
						<span class="normal-price">MYR230.00</span>

					</div>
					<button type="button" class="btn btn-default navbar-btn">Visitar página</button>
				</li>
				<li> <a href="#" class=""><img src="http://placehold.it/400x400" class=""></a>

					<h4 class="">Product Name</h4>
					<div class="product-price"> <span class="cut-price">MYR290.00</span>
						<span class="normal-price">MYR230.00</span>

					</div>
					<button type="button" class="btn btn-default navbar-btn">Visitar página</button>
				</li>
				<li> <a href="#" class=""><img src="http://placehold.it/300x300" class=""></a>

					<h4 class="">Product Name Product Name Product Name Product Name Product Name</h4>
					<div class="product-price"> <span class="cut-price">MYR290.00</span>
						<span class="normal-price">MYR230.00</span>

					</div>
					<button type="button" class="btn btn-default navbar-btn">Visitar página</button>
				</li>
				<li> <a href="#" class=""><img src="http://placehold.it/400x400" class=""></a>

					<h4 class="">Product Name</h4>
					<div class="product-price"> <span class="cut-price">MYR290.00</span>
						<span class="normal-price">MYR230.00</span>

					</div>
					<button type="button" class="btn btn-default navbar-btn">Visitar página</button>
				</li>
			</ul>
		</div>
		<div class="col-sm-3 text-center">
			<%= image_tag "sideadd.png", class: "img-responsive img-rounded add tocenter" %>
			<%= image_tag "sideadd.png", class: "img-responsive img-rounded add tocenter" %>
		</div>
	</div>
</div>